<div class="bar bar-header bar-dark">
  <h1 class="title">Service App - Share Travel</h1>
  <button class="button-clear" ng-click="stc.back()">
    <i style="color: white;" class="icon ion-chevron-left"></i>
  </button>
</div>

<ion-header-bar style="margin-left: 0; display: block; text-align: center" class="bar-subheader bar-royal">
  <h3 class="title">Subscription Form</h3>
</ion-header-bar>
<!-- where the initial view template will be rendered -->
<ion-view>
  <ion-content class="has-subheader">
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-positive item-icon-right" ng-click="stc.confirmMessage()">
  <h1 class="title">Subscribe Job</h1>
  <i class="icon ion-checkmark-round"></i>
</div>
