<ion-view class="stock">
  <ion-content class="test">
    <img class="logo" src="../../../img/logo_v4.PNG"/>
    <nav class="segmented-button">
      <input type="radio" name="seg-1" value="Sign In" id="seg-sign-in" checked>
      <label for="seg-sign-in" class="first">Sign In</label>
      <input type="radio" name="seg-1" value="Register" id="seg-register">
      <label for="seg-register" class="last">Register</label>
    </nav>
    <h1>Service App</h1>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
    </div>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <span class="input-label">Password</span>
        <input id="password-field" type="password">
      </label>
    </div>
    <button class="button button-block button-balanced" ng-click="lc.go()">
      Proceed
    </button>
    <button class="button button-block button-positive" ng-click="lc.go()">
      Log-in With Facebook
    </button>
    <button class="button button-block button-assertive" ng-click="lc.go()">
      Log-in With Google
    </button>
  </ion-content>
</ion-view>
